<div class="container">
    <h1>Olá {{toUpper username}}, seja bem vindo!</h1>
    {{#if isRyan)}}
        <p>Obrigado Ryan, pelo Node.js!</p>
    {{else}}
    <p>Você não é o Ryan, não tenho nada pra te agradecer!</p>
    {{/if}}
</div>